#body_wrapper {
  header {
    padding: 1em 0;
    #main_title {
      padding: 0 1em;
      width: 100%;
      text-align: center;
      margin-top: 1em;
    }
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      grid-gap: 1em;

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
        padding: 0.5em 1em;
        min-width: 10em;
        @media(min-width: 800px) {
          border-radius: 0.3em;
        }
        text-align: center;
        transition-property: background;
        transition-duration: 0.15s;
      }
    }
  }
  article {
    line-height: 2em;
    padding: 0 1em;
    overflow: hidden;

    section {
      margin: 1em 0;
      padding: 1em;

      p, prog, blockquote {
        margin: 1rem 0;
      }
    }
  }
  @media (max-width: 800px) {
    header {
      padding-top: 0;
      nav {
        width: 100%;
        flex-direction: column;
        align-items: center;
        grid-gap: 0;

        a {
          width: 100%;
          & + a {
            border-top: none;
          }
        }
      }
    }
    article {
      padding: 0;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
    grid-gap: 1em;

    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 3em;

      @media (max-width: 800px) {
        flex-direction: column;
        grid-gap: 2em;
      }

      .social {
        .footer-title {
          font-size: 1.2em;
          font-weight: bold;
          text-align: center;
          margin-bottom: 0.5em;
        }

        > * {
          margin: 0 0.5em;
        }
      }
    }
  }
}
