* {
  transition: color 0.1s ease-in, shitfuck 1s ease-in;
}

body.light {
  color: #111111;
  $main_bg: #fcfdf7;
  #left-sidebar, #right-sidebar {
    .open, .close {
      background: #00000055;
    }
    .dialog {
      background: $main_bg;
      .heading {
        background: linear-gradient(to top, $main_bg, 5%, adjust-color($main_bg, $lightness: -30%));
      }
    }
  }
  #right-sidebar {
    button {
      background: none;
      &:hover {
        background: adjust-color($main_bg, $lightness: -20%);
      }
      border: 1px solid adjust-color($main_bg, $lightness: -20%);
    }
    #toggle_theme_wrapper {
      &:hover {
        background-color: #00000022;
      }
      #toggle_theme {
        background-color: black;
      }
    }
  }
  #view_bg_btn {
    background: rgba(50, 50, 50, 0.7);
    #screen_img {
      border-color: #2a2a2a;
      background: #575656;
    }
  }
  .image_viewer {
    background: rgba(0, 0, 0, 0.95);
    > img {
      border-color: #0e0e2a;
    }
  }
  $wrapper_bg: #e9ffa4;
  header {
    background: $wrapper_bg;
    nav {
      $nav_active: #d75404;
      $nav_passive: #f6a75c;
      a {
        background: $nav_passive;
        &.current {
          background: $nav_active;
        }
        @media (min-width: 800px) {
          &:hover {
            background: $nav_active;
          }
        }
      }
    }
  }
  footer {
    background: $wrapper_bg;
    .footer-title {
      color: #032a71;
    }
  }
  article {
    background: #ffffff22;
    //backdrop-filter: blur(5px);
    section {
      background: $main_bg;
    }
  }
  .tag_element {
    background: #d5ecbc;
    &:hover {
      background: #bde5a3;
    }
  }
  a {
    color: #3c8f17;
    text-decoration: none;
  }
  a:visited {
    color: #3c8f17;
  }
  a:hover {
    text-decoration: none;
    color: #28620e;
  }
  prog, formula {
    background: #ffffff;
  }
  progi {
    background: #ffffff;
    border-color: #c1bfbf;
  }
  blockquote {
    border-color: #f8aeae;
    background: #fdcfd2;
  }
  h2 {
    background: adjust-color($main_bg, $lightness: -20%);
  }
}