body.dark {
  $main_fg: #cecdcd;
  color: $main_fg;
  $main_bg: #1f2021;
  #left-sidebar, #right-sidebar {
    .open, .close {
      background: #00000055;
    }
    .dialog {
      background: $main_bg;
      .heading {
        background: linear-gradient(to top, $main_bg, 5%, adjust-color($main_bg, $lightness: +10%));
      }
    }
  }
  #right-sidebar {
    button {
      color: #cecdcd;
      background: none;
      &:hover {
        background: adjust-color($main_bg, $lightness: +20%);
      }
      border: 1px solid adjust-color($main_bg, $lightness: +20%);
    }
    #toggle_theme_wrapper {
      &:hover {
        background-color: #ffffff22;
      }
      #toggle_theme {
        background-color: white;
      }
    }
  }
  #view_bg_btn {
    background: rgba(50, 50, 50, 0.7);
    #screen_img {
      border-color: #2a2a2a;
      background: #575656;
    }
  }
  .image_viewer {
    background: rgba(0, 0, 0, 0.95);
    > img {
      border-color: #0e0e2a;
    }
  }
  $wrapper_bg: #2b2f2a;
  header {
    background: $wrapper_bg;
    nav {
      $nav_active: #4e4254;
      $nav_passive: #3e3244;
      a {
        background: $nav_passive;
        &.current {
          background: $nav_active;
        }
        @media (min-width: 800px) {
          &:hover {
            background: $nav_active;
          }
        }
      }
    }
  }
  footer {
    background: $wrapper_bg;
    .footer-title {
      color: #75a6ff;
    }
  }
  article {
    background: #ffffff22;
    //backdrop-filter: blur(5px);
    section {
      background: $main_bg;
    }
  }
  .tag_element {
    background: #481515;
    &:hover {
      background: #341010;
    }
  }
  a {
    color: #3c8f17;
    text-decoration: none;
    &:visited {
      color: #3c8f17;
    }
    &:hover {
      text-decoration: none;
      color: #28620e;
    }
    .tag_element {
      color: $main_fg;
      &:visited {
        color: $main_fg;
      }
      &:hover {
        color: $main_fg;
      }
    }
  }
  prog, formula {
    background: #000000;
  }
  progi {
    background: #000000;
    border-color: #414141;
  }
  blockquote {
    border-color: #f8aeae;
    background: #331d34;
  }
  h2 {
    background: adjust-color($main_bg, $lightness: +5%);
  }
  .post_card {
    $card_bg: adjust-color($main_bg, $lightness: -5%);
    border-color: $card_bg;
    &:hover {
      background: $card_bg;
    }
    .post_description {
      color: $main_fg;
    }
  }
}